<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<title>GSB - Frais</title>
        <h1>Acceuil</h1>
	</head>
	
	<body>
		<a href="{{ path( 'app_visiteur' ) }}">Visiteur</a>
		<a href="{{ path( 'app_comptable' ) }}">Comptable</a>
	</body>
	
</html>
